.column {
    float: none;
    width: calc((100%/6) - 45px);
    margin: 20px;
    height: 300px;
}

.hero {
    display: flex;
}

.right {
    width: 25%;
    margin-left: 20px;
}

.left {
    width: 75%;
}